
*.v2
5. Inheritance & Polymorphism/Task_1/.vs/Task_1/v17/.suo
*.json
*.dll
*.exe
*.pdb
5. Inheritance & Polymorphism/Task_1/Task_1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
5. Inheritance & Polymorphism/Task_1/Task_1/obj/Debug/net6.0/Task_1.AssemblyInfo.cs
*.cache
*.BuildWithSkipAnalyzers
*.1
5. Inheritance & Polymorphism/Task_2/.vs/Task_2/v17/.suo
5. Inheritance & Polymorphism/Task_2/Task_2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
5. Inheritance & Polymorphism/Task_2/Task_2/obj/Debug/net6.0/Task_2.AssemblyInfo.cs
*.txt
5. Inheritance & Polymorphism/Task_2/Task_2/obj/Debug/net6.0/Task_2.GeneratedMSBuildEditorConfig.editorconfig
5. Inheritance & Polymorphism/Task_2/Task_2/obj/Debug/net6.0/Task_2.GlobalUsings.g.cs
*.props
*.targets
5. Inheritance & Polymorphism/Task_2/.vs/Task_2/FileContentIndex/read.lock
*.vsidx
6. Operator_Overloading/Task_1/.vs/Task_1/v17/.suo
6. Operator_Overloading/Task_1/Task_1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
6. Operator_Overloading/Task_1/Task_1/obj/Debug/net6.0/Task_1.AssemblyInfo.cs
*.editorconfig
6. Operator_Overloading/Task_1/Task_1/obj/Debug/net6.0/Task_1.GlobalUsings.g.cs
*.lock
6. Operator_Overloading/Test_2/.vs/Test_2/v17/.suo
6. Operator_Overloading/Test_2/Test_2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
6. Operator_Overloading/Test_2/Test_2/obj/Debug/net6.0/Test_2.AssemblyInfo.cs
6. Operator_Overloading/Test_2/Test_2/obj/Debug/net6.0/Test_2.GlobalUsings.g.cs
6. Operator_Overloading/Test_2/.vs/Task_2/v17/.suo
6. Operator_Overloading/Task_3/.vs/Task_3/v17/.suo
6. Operator_Overloading/Task_3/Task_3/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
6. Operator_Overloading/Task_3/Task_3/obj/Debug/net6.0/Task_3.AssemblyInfo.cs
6. Operator_Overloading/Task_3/Task_3/obj/Debug/net6.0/Task_3.GlobalUsings.g.cs
